* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #FFE4C4;
	font-family: 'Karla', sans-serif;
}

div {
    cursor:default;
}




.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px 30px;
    border: 1px solid #888;
    color: #555;
    width: 450px;
    font-size: 18px;
    line-height: 30px;
}

#reset {
	margin: 30px auto 0 auto;
	padding: 3px 0 2px 0;
	width: 150px;
	font-size: 14px;
	border: 1px solid red;
}

#ans {
	color: red;
}

#note {
	font-size: 12px;
}

#earthMood {
	color: #24439E;
}


#instructions {
	position: absolute;
	top: 160px;
	width: 100%;
	height: 70%;
	margin: 0px auto;
	background-color: #FFE4C4;
	text-align: center;
}

	#intro {
		width: 70%;
		margin: 0px auto;
	}

			.quote {
				margin: 0px auto;
				text-align: left;
				width: 530px;
				color: red;
				font-size: 30px;
			}

			.by-who {
				margin: 5px auto;
				text-align: right;
				padding-right: 10px;
				width: 530px;
				color: red;
				font-size: 20px;
			}

			.instruct {
				margin: 30px auto 40px auto;
				padding: 0 0 0 0px;
				text-align: left;
				color: #607D37;
				width: 530px;
				font-size: 16px;
				line-height: 22px;
				/*letter-spacing: 0.01em;*/
			}

			input[type=name] {
				    width: 330px;
				    position: relative;
				    top: 0px;
				    padding: 12px 20px;
				    margin: 0 auto;
				    text-align: center;
				    border: none;
				    border: 2px solid red;
				    background-color: rgba(0, 0, 0, 0);
				    
				    font-family: 'Inconsolata', monospace;
					font-size: 20px;
					color: red;
				}


#map {
	position: relative;
}

canvas {
    padding: 0;
    margin: 30px auto; 
    margin-top: 40px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
}

.game-info {
	margin: 50px auto;
	width: 760px;
	text-align: center;
	height: 30px;

	font-size: 16px;
	color: #555;
	letter-spacing: 0.01em;

}

		#earth-stats {
			display: inline-block;
			text-align: left;
			float: left;
		}

		#title {
			display: inline-block;
			text-align: center;
		}

		#affected-count {
			display: inline-block;
			text-align: right;
			float: right;
		}
		
		/*just the number*/
		#affectedCount {
			color: #24439E;
		}

.reset-this {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#bonus-round {
	position: relative;
	/*border: 1px solid black;*/
	margin: 10px auto;
	width: auto;
	height: auto;
	text-align: center;

	display: visible;
}

#factual {
	position: relative;
	/*border: 1px solid red;*/
	margin: 30px auto;
	width: auto;
	height: auto;
	text-align: center;

	display: visible;
}

		.questions { 

			margin: 0 auto;
			margin-bottom: 30px;
			text-align: center;
			width: 700px;
			height: auto;
		
			font-family: 'Inconsolata', monospace;
			font-size: 24px;
			color: red;
			line-height: 35px;
			/*border: 1px solid green;*/
		}

		.choices-row{
			width: 100%;
		}

				.choices {
					display: inline-block;
					border: 2px solid red;
					padding: 10px 20px;
					margin: 10px 30px;
				}

		.input-box {
			width: 100%;
		}

				.input {

				}

				input[type=text] {
				    width: 200px;
				    position: relative;
				    top: 0px;
				    padding: 12px 20px;
				    margin: 0 auto;
				    text-align: center;
				    border: none;
				    border: 2px solid red;
				    background-color: rgba(0, 0, 0, 0);
				    
				    font-family: 'Inconsolata', monospace;
					font-size: 20px;
					color: red;
				}


b {
	color: #555555;
}

.roll-die {
	border: 2px solid red;
	display: inline-block;
	padding: 10px 30px;
	margin: 10px 30px;
	width: 120px;
}













